    <!-- pricing section -->


    <section class="section bg-light" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center">
                        <h6 class="text-muted fw-normal">Get Your Best Package</h6>
                        <h2 class="mb-3">Best <span class="text-primary fw-normal">Pricing</span> Package Start Business
                        </h2>
                        <p class="text-muted para-p mx-auto mb-0">Fugit, voluptatum. Cum earum reprehenderit quis, esse
                            dolorem quaerat. Recusandae officiis facilis quia quidem iusto labore temporibus.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="price-save-box bg-primary p-4 mt-5 border-radius">
                        <h2 class="text-white">Save your <br> <span class="fw-bold text-light">money now</span></h2>
                        <p class="mt-3 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Temporibus nostrum nihil in nulla doloribus voluptatem.</p>
                        <p class="mt-3 text-white-50">Esse facere reiciendis error necessitatibus eum sed recusandae.
                        </p>
                        <div class="price-image">
                            <img src="images/pricing/investment.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4  mt-5">
                    <div class="pricing-box box-shadow p-4 border-radius">
                        <div class="text-center mb-4">
                            <h6 class="text-primary">Wealth</h6>
                            <div class="price-title mt-2">
                                <div class="tag"></div>
                                <h6 class="mb-0 text-white">basic</h6>
                            </div>
                            <div class="price-tag mt-4">
                                <h2><sup>$</sup><span class="text-primary">0</span></h2>
                            </div>
                            <!-- <p class="text-muted mt-2">For small teams trying out Levonic <br> for an unlimited </p> -->

                            <div class="detail mt-4">
                                <p><span class="text-primary icon me-2">∎</span>10 GB Disk Space</p>
                                <p><span class="text-primary icon me-2">∎</span>1 Year Technical Support</p>
                                <p><span class="text-primary icon me-2">∎</span>SQL Database</p>
                            </div>

                        </div>
                        <button class="btn btn-primary rounded-pill position-absolute start-50 translate-middle-x">Get
                            started</button>
                    </div>
                </div>

                <div class="col-lg-4  mt-5">
                    <div class="pricing-box box-shadow p-4 border-radius">
                        <div class="text-center mb-4">
                            <h6 class="text-primary">Combination</h6>
                            <div class="price-title mt-2">
                                <div class="tag"></div>
                                <h6 class="mb-0 text-white">Premium</h6>
                            </div>
                            <div class="price-tag mt-4">
                                <h2><sup>$</sup><span class="text-primary">99</span></h2>
                            </div>
                            <!-- <p class="text-muted mt-2">For small teams trying out Levonic <br> for an unlimited </p> -->

                            <div class="detail mt-4">
                                <p><span class="text-primary icon me-2">∎</span>100 GB Disk Space</p>
                                <p><span class="text-primary icon me-2">∎</span>5 Year Technical Support</p>
                                <p><span class="text-primary icon me-2">∎</span>SQL Database</p>
                            </div>

                        </div>
                        <button class="btn btn-primary rounded-pill position-absolute start-50 translate-middle-x">Sign
                            up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <!-- end pricing -->






     
    <!-- counter section-->
    <section class="counter ">
        <div class="container">
            <div class="row" id="counter">
                <div class="col-lg-3 p-lg-0">
                    <div class="counter-box py-0 py-lg-5 text-center position-relative">
                        <div class="side-border-left"></div>
                        <div class="py-5 pb-0">
                            <div class="counter-image">
                                <img src="images/counter/support.png" alt="">
                            </div>
                            <h2 class="counter_value fw-bold mt-2 text-primary" data-bs-target="1789">0</h2>
                            <h5 class="counter-caption mb-0 mt-3">Awesome Support</h5>
                        </div>
                        <div class="side-border-right"></div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 p-lg-0">
                    <div class="counter-box py-0 py-lg-5 text-center">
                        <div class="py-5 pb-0">
                            <img src="images/counter/project-running.png" alt="">
                            <h2 class="counter_value fw-bold mt-2 text-primary" data-bs-target="19">0</h2>
                            <h5 class="counter-caption mb-0 mt-3">Project Running</h5>
                        </div>
                        <div class="side-border-right"></div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 p-lg-0">
                    <div class="counter-box py-0 py-lg-5 text-center side-border">
                        <div class="py-5 pb-0">
                            <img src="images/counter/check.png" alt="">
                            <h2 class="counter_value fw-bold mt-2 text-primary" data-bs-target="24">0</h2>
                            <h5 class="counter-caption mb-0 mt-3">Project Complate</h5>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 p-lg-0">
                    <div class="counter-box py-0 py-lg-5 text-center side-border">
                        <div class="side-border-left"></div>
                        <div class="py-5">
                            <img src="images/counter/idea.png" alt="">
                            <h2 class="counter_value fw-bold mt-2 text-primary" data-bs-target="1090">0</h2>
                            <h5 class="counter-caption mb-0 mt-3">Strategy Solution</h5>
                        </div>
                        <div class="side-border-right"></div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end counter -->






        <!-- start cta -->
        <section class="cta section" id="cta-ani">
            <div class="cta-image position-relative">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="text-center">
                                <h5 class="text-dark ">A simple and smart design grow <span class="text-primary">your
                                        business </span> </h5>
                                <h2 class="mt-3 fw-bold">Our mission Ultimate features to Grow Your Business.</h2>
                                <button class=" btn-lg btn-primary mt-4 f-14">Get started for free</button>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end cta -->










        <!-- start blog -->
    <section class="section bg-light" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center">
                        <h6 class="text-muted fw-normal">Latest on Our Blogs</h6>
                        <h2 class="mb-3">Increase <span class="text-primary fw-normal">conversion </span>with help our
                            images</h2>
                        <p class="text-muted para-p mx-auto mb-0"> ratione iure laborum, voluptatum iusto pariatur ipsa
                            vero debitis dolore, eaque natus, itaque perferendis eveniet voluptatem omnis nemo.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 mt-4 mt-2">
                    <div class="blog-image overflow-hidden">
                        <img src="images/blog/img-1.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="blog-content mb-2">
                        <a href="">
                            <h6 class="mt-4 mb-2 text-uppercase f-14">Health</h6>
                        </a>
                        <a href="">
                            <h4>You need weightlose shoes?</h4>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center text-muted">
                            <i class="mdi mdi-account-outline f-22 "></i>
                            <p class="mb-0 ms-2">Md Shohel</p>
                        </div>
                        <div class="d-flex align-items-center text-muted ms-4">
                            <i class="mdi mdi-calendar-blank f-22 "></i>
                            <p class="mb-0 ms-2">September 25 2021</p>
                        </div>
                    </div>
                    <div class="blog-link">
                        <a href="" class="fw-bold f-14">Read more <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-2">
                    <div class="blog-image overflow-hidden">
                        <img src="images/blog/img-2.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="blog-content mb-2">
                        <a href="">
                            <h6 class="mt-4 mb-2 text-uppercase f-14">food</h6>
                        </a>
                        <a href="">
                            <h4>We Don't Mack It Until You Order It.</h4>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center text-muted">
                            <i class="mdi mdi-account-outline f-22 "></i>
                            <p class="mb-0 ms-2">Md Shohel</p>
                        </div>
                        <div class="d-flex align-items-center text-muted ms-4">
                            <i class="mdi mdi-calendar-blank f-22 "></i>
                            <p class="mb-0 ms-2">october 16 2020</p>
                        </div>
                    </div>
                    <div class="blog-link">
                        <a href="" class="fw-bold f-14">Read more <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  mt-4 mt-2">
                    <div class="blog-image overflow-hidden">
                        <img src="images/blog/img-3.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="blog-content">
                        <a href="">
                            <h6 class="mt-4 lh-1 text-uppercase f-14">Fitness</h6>
                        </a>
                        <a href="">
                            <h4 class="mt-3 fw-bold">Daily Workout With Fitness.</h4>
                        </a>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="d-flex align-items-center text-muted">
                            <i class="mdi mdi-account-outline f-22 "></i>
                            <p class="mb-0 ms-2">Md Shohel</p>
                        </div>
                        <div class="d-flex align-items-center text-muted ms-4">
                            <i class="mdi mdi-calendar-blank f-22 "></i>
                            <p class="mb-0 ms-2">october 16 2020</p>
                        </div>
                    </div>
                    <div class="blog-link">
                        <a href="" class="fw-bold f-14">Read more <i class="mdi mdi-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blog -->